<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
<div class="jumbotron">
  <h1>Rocket League App</h1>
  <p class="lead">You know 'em, we show 'em!</p>
  {{#if user}}
    <h4>What's crackin' {{ user.displayName }}!!</h4>
    <p>Use the navigation bar at the top of the page to get started.</p>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
<!-- </IndexSnippet> -->
