<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
  <img src="https://cdn.arstechnica.net/wp-content/uploads/2020/01/rocket-league-listing-800x450.jpg" width="400" height="225" align="right" style="margin:22px"></img>
<div class="jumbotron">
  <h1>Rocket League App</h1>

  <p class="lead">You know 'em, we show 'em!</p>
  {{#if user}}
    <h4>What's crackin' {{ user.displayName }}!!</h4>
    <p>Use the navigation bar at the top of the page to get started.</p>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
<!-- </IndexSnippet> -->
